# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# IDE相关
.idea/
.vscode/
.runtime/
*.swp
*.swo
.mcs
studio.json
work.mcscfg
world_behavior_packs.json
world_resource_packs.json

.mcdev.json
/.ref/
/Java 版参考代码/

# 开发环境生成文件
world_icon.jpeg
